@model TheLenderRD.Domain.Dto.QueryDto?

@{
    ViewData["Title"] = "Home Page";

    var monsths = new List<SelectListItem>();

    foreach (TheLenderRD.Domain.Dto.MonthDto month in ViewBag.Months)
    {
        monsths.Add(new SelectListItem { Text = month.Description, Value = $"{month.Value}",  });
    }
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2 style="color:red;">@ViewBag.Error</h2>
<h2 style="color:green;">@ViewBag.ViewBag.Successful</h2>
<hr />
<br />


@using (Html.BeginForm("Cuotas", "Calcular", FormMethod.Post, new { @style = "border: 1px solid black; border-radius: 15px 15px; padding: 5px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">

        <label>Fecha de nacimiento</label>

        @Html.EditorFor(Model => Model.DateOfBirth)

    </div>

    <div class="form-group">

        <label>Monto del préstamo</label>

        @Html.EditorFor(Model => Model.LoanAmount)

    </div>

    <div class="form-group">

        <label>Meses de préstamo</label>

        @Html.DropDownListFor(Model => Model.LoanMonths, monsths, "LoanAmount")

    </div>

    <input type="submit" value="Consultar" class="btn-primary" />
}



